<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="/public/choose.css">
    <script type="text/javascript" src="../require.js"></script>
  </head>
  <body>

<form class="box" action="/login_user" method="get" style="margin-top: -150px;">
  <h1>Login Type</h1>
  <button class="cybr-btn" >USER<span aria-hidden>_</span>
    <span aria-hidden class="cybr-btn__glitch">Cyber_</span></button>
</form>
<form class="box" action="/login_admin" method="get">
  <button class="cybr-btn" >
    ADMIN<span aria-hidden>_</span>
    <span aria-hidden class="cybr-btn__glitch">Buttons_</span>
    <span aria-hidden class="cybr-btn__tag">R25</span>
  </button>
</form>

  </body>
</html>
