<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="/public/login_cyber.css">
    <script src="../require.js"></script>
  </head>
  <body>

<form class="box" method="post" action="/middleware">
  <h1>Login</h1>
  <input class="cyberpunk" type="text" name="username" placeholder="Username" id="username"/>
  <input class="cyberpunk" type="text" name="password" placeholder="Password" id="password"/>
  <button type="submit" class="cyberpunk2077 red">Submit_</button>
  <p><%= text %></p>
</form>
</html>
