<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>BURASI USER SAYFASYI</p>
    <p>Hoşgeldin <%= username %></p>
    <form class="form-group" action="/analyse_file" method="POST" enctype="multipart/form-data">
        <input type="file" name="pdf" id="load" accept=".pdf">
        <button type="submit">load file</button>
    </form>
</body>
</html>